{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

    <div id="header">
        <span class="logo">Bookmarks</span>
        {% if request.user.is_authenticated %}
        <ul class="menu">
            <li {% if section == "dashboard" %} class="selected" {% endif %}><a href="{% url "dashboard" %}">my dashboard</a></li>
            <li {% if section == "images" %} class="selected" {% endif %}><a href="#">images</a></li>
            <li {% if section == "people" %} class="selected" {% endif %}><a href="#">people</a></li>
        </ul>
        {% endif %}

        <span class="user">
            {% if request.user.is_authenticated %}
                hello {{ request.user.first_name }}, <a href="{% url "logout" %}">logout</a>
            {% else %}
                <a href="{% url "login" %}">login</a>
            {% endif %}
        </span>

    </div>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                    <a href="#" class="close">x</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>