{% extends 'base.html' %}

{% block title %}logged out{% endblock %}

{% block content %}
    <h1>logged out</h1>
    <p>you have been successfully logged out. you can <a href="{% url "login" %}">log-in again</a>.</p>
{% endblock %}