{% extends 'base.html' %}

{% block title %}change you password{% endblock %}

{% block content %}
    <h1>Change you password</h1>
    <p>use the form bellow to change your password</p>
    <form action="." method="post">
        {{ form.as_p }}
        <p><input type="submit" value="change"></p>
        {% csrf_token %}
    </form>
{% endblock %}
