{% extends "base.html" %}

{% block title %}bookmark an image{% endblock %}

{% block content %}
    <h1>bookmark and image</h1>
    <img src="{{ request.GET.url }}" class="image-preview">
    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Bookmark it!">
    </form>
{% endblock %}